body {
  position: relative;
  color: white;
}
#game_title,
.background_container,
.background_container * {
  position: absolute;
}
#game_title {
  top: 10px;
  right: 50%;
  transform: translateX(50%);
}
.background_container {
  height: 100vh;
  width: 100%;
  z-index: -1;
  background-image: url(../images/background.jpg);
  background-size: cover;
}
#score {
  font-size: var(--size-xl);
  margin-left: 3rem;
  margin-top: 1rem;
}
#gameover {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: var(--size-7xl);
  background-color: rgb(122, 10, 10);
  padding: 2rem;
  border-radius: 10px;
}
#dragon {
  bottom: 3rem;
  left: 15rem;
  height: 10rem;
  width: 16rem;
  background-image: url(../images/dragon.png);
  background-size: cover;
  background-repeat: no-repeat;
  border: red 1px solid;
}
#obstacle {
  bottom: 3rem;
  right: 3rem;
  height: 9rem;
  width: 12rem;
  background-image: url(../images/obstacle.png);
  background-size: cover;
  background-repeat: no-repeat;
  border: red 1px solid;
  animation: obstacle_move 3s linear infinite;
}

.dragon_jump {
  animation: jump 1s ease-out;
}
